<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdmAutotests.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <IdmAutotests.Tests.Properties.Settings>
            <setting name="emptyUserNameError" serializeAs="String">
                <value>The User name field is required.</value>
            </setting>
            <setting name="emptyPassError" serializeAs="String">
                <value>The Password field is required.</value>
            </setting>
            <setting name="incorCredentialsError" serializeAs="String">
                <value>Incorrect credentials or no authorization.</value>
            </setting>
            <setting name="tagError" serializeAs="String">
                <value>A potentially dangerous Request.Form value was detected from the client</value>
            </setting>
        </IdmAutotests.Tests.Properties.Settings>
    </userSettings>
</configuration>